.items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(#74ebd5,#414e86);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}
.Button{
    width: 70px;
}